$background-color: #333;
$border-color: #555;
$icon-color: #fff;
$text-color: #333;

.dg-layer-list{

	color: $text-color;

	.toggle-button{
		background: $background-color;
		color:$icon-color;
		display: block;
		width: 70px;
		border: 0;
    	padding: 0 10px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 300;
		font-size:1.5em;	
	}
	
	.dg-layer-list-container{
		border-width:0 0 0 5px;
		border-style:solid;
		border-color:$border-color;
		background:#fff;
		position:absolute;
		right:0; 
		width:300px; 
		height:300px;
		overflow:hidden;
		overflow-y:scroll;
		line-height:1em;
		-moz-transition: height .3s;
		-webkit-transition: height .3s;
		-o-transition: height .3s;
		transition: height .3s;			
	}
	 
	.dg-off{
		display:none !important;
	}
	.dg-on{
		display:block !important;
	}
}
