$font-stack: "Muli", sans-serif;
$base-font-size: 16px;

$hf-background: #222;
$hf-font-color: #fff;
$hf-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.75);

$header-height: 70px;
$footer-height: 40px;

$header-logo-height: $header-height - 10;

$test: gold;